.about {
  @extend %page;
  @extend %pagepadding;
  overflow-x: hidden;
  h1 {
    margin: 0;
    padding: 0;
  }
  .tac {
    display: block;
    text-align: center;
    margin: 20px 0;
  }
  .about__me {
    h1 {
      @extend %pageheading;
    }
    .my__pic {
      height: $mypicdim;
      width: $mypicdim;
      border-radius: 50%;
      margin: 50px 0;
      margin-left: 50%;
      transform: translateX(-50%);
      overflow: hidden;
      border: 5px solid $Color1;

      img {
        width: 100%;
      }
    }
    h2 {
      text-align: center;
      font-size: 2rem;
      margin-top: 75px;
    }
    p {
      @media only screen and (max-width: $BreakingPoint + 100px) {
        margin: 0 50px;
      }
      font-size: 1.05rem;
      max-width: 960px;
      margin: 0 auto;
      margin-bottom: 60px;
    }
  }
  & > h2 {
    text-align: center;
    font-size: 2.25rem;
    margin-top: 100px;
  }
  .about__resume {
    margin: 100px 0;
    margin-left: 50%;
    transform: translateX(-50%);
    outline: none;
    border: 5px solid $Color1;
    color: $Color1;
    background-color: transparent;
    font-size: 2rem;
    font-family: $PrimaryFont;
    font-weight: bold;
    padding: 30px;
    transition: 0.5s ease;
    &:hover {
      color: $Color3;
      border-color: $Color2;
      background-color: $Color2;
    }
  }
  .about__footer {
    @extend %pagefooter;
  }
}
