.portfolio {
  @extend %page;
  @extend %pagepadding;
  & > h1 {
    @extend %pageheading;
  }
  p {
    text-align: center;
  }
  .mywork {
    text-align: center;
    margin: 200px auto;
    font-size: 3vw;
    @media only screen and (max-width: $BreakingPoint) {
      font-size: 4vw;
    }
  }
  .portfolio__contact {
    @extend %pagefooter;
    grid-template-columns: auto;
  }
}
